[Unit]
Description=Automatically start camera capture via single gst session
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=dmitrii
ExecStartPre=/bin/bash -c "rm -rf /dev/shm/cam_*"
ExecStart=/usr/bin/gst-launch-1.0 nvarguscamerasrc sensor-id=0 silent=false ! 'video/x-raw(memory:NVMM), width=(int)1920, height=(int)1080, format=(string)NV12, framerate=(fraction)30/1' ! nvvidconv top=0 bottom=1080 left=480 right=1440 ! 'video/x-raw,width=960,height=1080,format=BGRx' ! videoconvert ! 'video/x-raw,format=BGR' ! shmsink socket-path=/dev/shm/cam_left sync=false wait-for-connection=false shm-size=20000000 nvarguscamerasrc sensor-id=1 silent=false ! 'video/x-raw(memory:NVMM), width=(int)1920, height=(int)1080, format=(string)NV12, framerate=(fraction)30/1' ! nvvidconv top=0 bottom=1080 left=480 right=1440 ! 'video/x-raw,width=960,height=1080,format=BGRx' ! videoconvert ! 'video/x-raw,format=BGR' ! shmsink socket-path=/dev/shm/cam_right sync=false wait-for-connection=false shm-size=20000000
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=default.target
